# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# ESPHome
# The esphome container auto adds this but I've covered it in my main .gitignore
esphome/config/.gitignore
.esphome/
secrets.yaml

# Mosquitto
pwfile
mosquitto/data
mosquitto/log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store

Thumbs.db
